{% extends 'accounts/base.html' %}

{% block title %}Terms of Service{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Terms and Conditions</h2>
    <ul>
        <li>By creating an account, you agree to provide accurate and complete information.</li>
        <li>You are responsible for maintaining the confidentiality of your account and password.</li>
        <li>You agree not to use this site for any illegal or unauthorized purpose.</li>
        <li>We reserve the right to suspend or terminate your account if you violate these terms.</li>
        <li>Your data will be used in accordance with our privacy policy.</li>
    </ul>
</div>
{% endblock %}
